
<div class= 'container'>
<div class="container_content">
<div class="container_content_inner">
<div class="title">
  <h1>Inscription</h1>
</div>
<div class="par">
<p>

<h2>alors vous voulez vous inscrire pour rentrer dans le cockpit du gossip et bin allez-y!</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>



<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>




</p>
</div>
<div class="btns">
<button class='btns_more'> See more </button>
</div>
</div>
</div>
 <div class="container_outer_img">
 <div class="img-inner">
 <img src='https://preview.redd.it/jt2oyxb9vrn11.jpg?width=960&crop=smart&auto=webp&s=02c45e44da70a5a7657e4ef0c0dbe58f954ba8a2' alt="" class="container_img"/>


       </div>
     </div>
  </div>
<div class="overlay"></div>